.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column; /* para que todo elemento abaixo do container ou da barrinha fique abaixo (column) com uma coluna */
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr; /*duas colunas com o tamanho igual*/
    gap: 6.25rem; /* espaçamento entre as colunas */
    align-content: center; /* alinhado ao centro verticalmente */
}
